.text-center{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 10px;
    color: #ead7d7;
}
.outerone{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input{
    width: 500px;
    height: 50px;
    background: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
input::placeholder{
    font-style: italic;
	font-weight: 300;
    padding-left: 50px;
	color: #e6e6e6;
}
.cards{
    display: flex;
    justify-content: center;
}

.card {
    width: 500px;
    height: auto;
    display: flex;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin-top: 1px;
    padding: 20px;
    align-items: center;
}
.card .txt{
    margin-left: 15px;
    font-weight: 300;
    font-size: 24px;
}

.card .nonactv{
    text-decoration: line-through;
    color: #787e7e;
    opacity: 0.4;
}

.notClick{
    background-color: white;
    border: 1px solid #787e7e;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.Click{
    background-color: white;
    border: 1px solid #787e7e;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}